<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>Mi cafecito</title>
    </h:head>
    <h:body>

        <h:form>
            <p:menubar>
                <p:menuitem value="Inicio"></p:menuitem>
                <p:menuitem ><p:link outcome="Estados"  value="Estados"/></p:menuitem>
            </p:menubar>
        </h:form>
        <h1>REPORTE DIARIO DE VENTAS</h1>
        <h:form id="diario" >
            <p:growl />
            <h:panelGrid columns="2" >

                <p:outputLabel value="fecha inicio"/>
                <p:calendar value="#{reporteDiario.inicio}" pattern="yyyy-mm-dd" required="true" requiredMessage="Debe ingresar fecha inicio">
                    <p:ajax event="dateSelect" update="boton"/>
                </p:calendar>

                <p:outputLabel value="fecha fin"/>
                <p:calendar value="#{reporteDiario.fin}" pattern="yyyy-mm-dd" required="true" requiredMessage="Debe ingresar fecha fin">
                    <p:ajax event="dateSelect" update="boton"/>
                </p:calendar>              
            </h:panelGrid>
            <p:spacer/>

            <h:panelGrid columns="2">
                <p:commandButton id="boton" value="Generar" 
                                 update="@form"
                                 actionListener="#{reporteDiario.generarReportePDFDiario(reporteDiario.inicio, reporteDiario.fin)}" />

            </h:panelGrid>
            <p:panel header="vista previa">
                <div class="column-center">
                    <p:media id="mediaPdf" cache="false" rendered="#{not empty reporteDiario.sc}" width="1200" height="600" value="#{reporteDiario.sc}" player="pdf"/>
                </div>
            </p:panel>


        </h:form>


    </h:body>
</html>

